:root {
--color-iris: #4d5ae5;
--title-color-navy-blue: #2E2F42;
--color-white: #ffffff;
--color-ocean: #404BBF;
--text-color-slate: #434455;
--color-cloud: #F4F4FD;
--transition-duration-and-func:250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}
address {
    font-style: normal;
}
img {
    display: block;
}
button {
    cursor: pointer;
}

body {
font-family: 'Roboto', sans-serif;
color: #434455; 
background-color:#ffffff;
}
.visualy-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
/* ==========Components =========*/ 
.logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
text-transform: uppercase;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--color-iris);
margin-right: 76px;
margin-bottom: 0;
}

.logo-span {

    color: #2E2F42;
}
/* ==========/Components =========*/
/* ========== Header =========*/
.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    display: flex;
    align-items: center;
}
.page-nav {
    display: flex;
    align-items: center;
}
.contact {
    display: flex;
    align-items: center;
}
.menu-item:not(:last-child) {
    margin-right: 40px;
}

.menu-link {
position: relative;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 20px;
color: var(--title-color-navy-blue);
transition:color var(--transition-duration-and-func);

}
.menu-link::after {
content: "";
position: absolute;
width: 100%;
height: 4px;
left: 0px;
top: 44px;
border-radius: 2px;
}

.activ-studio.menu-link::after,
.activ-portfolio.menu-link::after,
.activ-contacts.menu-link::after {
background-color: #404BBF;

}
.menu-link:hover,
.menu-link:focus {
color: var(--color-ocean);
}

.page-address {
font-style: normal;
}
.page-address-contact:not(:last-child) {
 margin-right: 40px;
}
.contact-info {
font-weight: 400;
color: var(--text-color-slate);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
transition: color var(--transition-duration-and-func);
}

.contact-info:hover,
.contact-info:focus {
 color: var(--color-ocean);
}

/* ========== /Header =========*/
/* ========== Hero =========*/

.hero {
background-color: #2e2f42;
padding-top: 188px;
padding-bottom: 188px;
text-align: center;
background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
 url("../images/hero/people_office.jpg");
background-size: cover;
background-color: #2E2F42;
max-width: 1440px;
margin: 0 auto;
}

.main-title {
font-weight: 700;
width: 496px;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: var(--color-white);
margin-bottom: 48px;
margin-left: auto;
margin-right: auto;
}

.modal-btn {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--color-white);
background: var(--color-iris);
padding: 16px 32px;
border-radius: 4px;
border: 0;
transition:background-color var(--transition-duration-and-func) ;
}

.modal-btn:hover, .modal-btn:focus {
background-color: #404BBF;
}
/* ========== /Hero =========*/

/* ========== Solutions =========*/
.solutions-list {
display: flex;
flex-wrap: wrap;
gap: 24px;
}

.team-solutions {
width: 264px;
flex-basis: calc((100% - 72px) / 4);
}
.solutions-list-icons {
display:flex;
width: 264px;
height: 112px;
border-radius: 4px;
background-color: #F4F4FD;
margin-bottom: 8px;
justify-content: center;
align-items: center;
}

.name-decisions {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-color-navy-blue);
margin-bottom: 8px;
}
.description-solutions {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* ========== /Solutions =========*/

/* ========== Our-solutions =========*/
.our-solutions-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.photos-works {
flex-basis: calc((100% - 48px) / 3);
}
.our-solutions {
    padding-bottom: 120px;
}
.work-options {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-transform: capitalize;
letter-spacing: 0.02em;
text-align: center;
color: var(--title-color-navy-blue);
margin-bottom: 72px;
}

/* ========== /Our-solutions =========*/

/* ========== Our-team =========*/
.our-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.our-team {
background-color: var(--color-cloud);
}
.team-description-content {
padding-top: 32px;  
padding-bottom: 32px;
}

.team {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
text-transform: capitalize;
letter-spacing: 0.02em;
text-align: center;
color: var(--title-color-navy-blue);
margin-bottom: 72px;
}
.team-description {
background-color: var(--color-white);
text-align: center;
flex-basis: calc((100% - 72px) / 4);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-color-navy-blue);
margin-bottom: 8px;
}
.profession {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.social-list {
display: flex;
justify-content: center;
gap: 24px;
}
.social-list-link {
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #4D5AE5;
transition:background-color var(--transition-duration-and-func) ;
}
.social-list-link:hover, 
.social-list-link:focus {
background-color: #404BBF;
}
.social-list-icon {
fill: #f4f4fd;
}

/* ========== /Our-team =========*/
/* ========== Our-Customers=========*/
.customers-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
text-transform: capitalize;
letter-spacing: 0.02em;
text-align: center;
color: var(--title-color-navy-blue);
margin-bottom: 72px;
}
.customers-list{
display: flex;
justify-content: center;
gap: 24px;
}

.customers-list-link {
display: flex;
justify-content: center;
align-items: center;
width: 168px;
height: 88px;
border-radius: 4px;
border: 1px solid #8E8F99;
transition: border var(--transition-duration-and-func);
}
.customers-list-icon {
fill: #AFB1B8;
transition:fill var(--transition-duration-and-func);
}

.customers-list-link:hover, .customers-list-link:focus {
border: 1px solid #404BBF;
}
.customers-list-link:hover> .customers-list-icon, 
.customers-list-link:focus>.customers-list-icon {
fill: #404BBF;
}

/* ========== /Our-Customers=========*/
/* ========== Page-footer=========*/
.page-footer {
display: flex;
background-color: #2e2f42;
padding-top: 100px;
padding-bottom: 100px;
}
.page-footer-container {
display: flex;
}
.page-footer-logo {
display: flex;
flex-direction: column;
margin-right: 120px;
}

.footer-logo {
display: block;
margin-bottom: 16px;
}
.goal {
font-weight: 400;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-cloud);
width: 264px;
}
.logo-span-footer{

color: var(--color-cloud);
}
.media {
display: flex;
flex-direction: column; 
margin-right: 80px; 
}
.media-list {
display: flex;
justify-content: center;
gap: 16px;
}

.media-list-link {
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #4D5AE5;
transition:background-color var(--transition-duration-and-func) ;
}

.media-title {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-white);
margin-bottom: 16px;
}
.media-list-icon {
fill: #f4f4fd;
}
.media-list-link:hover, .media-list-link:focus {
background-color: #31D0AA;
}
.subscribe {
display: flex;
flex-direction: column;
}
.subscribe-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}

.subscribe-form {
display: flex;
gap: 24px;
}

.subscribe-form-input {
width: 264px;
height: 40px;
border: 1px solid #FFFFFF;
border-radius: 4px;
padding-left: 16px;
outline: 0;
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: var(--color-white);
background-color: var(--title-color-navy-blue);

}
.subscribe-form-input::placeholder {
color: var(--color-white);
}

.subscribe-form-submit {
display: flex;
justify-content: center;
align-items: center;
padding: 8px 24px;
gap: 16px;
background: #4D5AE5;
border-radius: 4px;
min-width: 165px;
align-self: center;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--color-white);
background: var(--color-iris);
border: 0;
transition: background-color var(--transition-duration-and-func);
}
.subscribe-form-submit:hover,
.subscribe-form-submit:focus {
background-color: #404BBF;
}

.subscribe-svg {
fill: #FFFFFF;
}


/* ========== /Page-footer=========*/

/*============ Modal vikno======== */
.backdrop {
position: fixed;
top: 0;
left: 0;
z-index: 100;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
transition: opacity var(--transition-duration-and-func),
visibility var(--transition-duration-and-func);
}

.backdrop.is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 408px;
height: 576px;
background-color: #FCFCFC;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
padding: 72px 24px 24px 24px;
}

.modal-close-btn-icon {
fill: var(--title-color-navy-blue);
transition: fill var(--transition-duration-and-func);
}

.modal-close-btn {
position: absolute;
top: 24px;
right: 24px;
display: flex;
justify-content: center;
align-items: center;
width: 24px;
height: 24px;
border-radius: 50%;
padding: 0;
background-color: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: background-color var(--transition-duration-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
background-color: #404BBF;
}

.modal-close-btn:hover>.modal-close-btn-icon,
.modal-close-btn:focus>.modal-close-btn-icon {
fill: var(--color-white);
}
/*============ /Modal vikno======== */
/*============ Modal form======== */
.modal-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
margin-bottom: 16px;
text-align: center;

}

.modal-form {
display: flex;
flex-direction: column;

}

.modal-form-field {
margin-bottom: 8px;
}

.modal-form-imput-desc {
display: block;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
margin-bottom: 4px;
}

.modal-form-input {
width: 100%;
height: 40px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
padding-left: 38px;
color: #2E2F42;
font-size: 18px;
background: #FCFCFC;
transition: border-color var(--transition-duration-and-func) ;
}
.modal-form-input:focus {
outline: none;
border-color: #4D5AE5;
}

.modal-form-input-icon {
position: absolute;
display: block;
top: 50%;
left: 16px;
transform: translateY(-50%);
fill: #2E2F42;
transition:fill var(--transition-duration-and-func) ;
}
.modal-form-input-wrapper{
display: block;
position: relative;   
}
.modal-form-input:focus + .modal-form-input-icon {
fill: #4D5AE5;
}
.modal-form-coment {
width: 100%;
height: 120px;
padding: 8px 16px;
resize: none;
color: #2E2F42;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
background: #FCFCFC;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
}
.modal-form-coment:focus {
outline: none;
border-color: #4D5AE5;    
}
.modal-form-coment::placeholder {
color: rgba(46, 47, 66, 0.4);
}
.modal-form-check-desc {
display: flex;
align-items: center;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
margin-bottom: 24px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
background-color: #4D5AE5;
background-image: url(../images/check.svg);
background-repeat: no-repeat;
background-position: center;
background-size:contain;

}
.modal-form-check:focus + .modal-form-check-desc::before {
outline: 1px solid #4D5AE5;
}

.modal-form-check-desc::before {
content:"";
display: block;
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
margin-right: 8px;
}

.modal-form-submit {
min-width: 169px;
align-self: center;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--color-white);
background: var(--color-iris);
padding: 16px 32px;
border-radius: 4px;
border: 0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
transition: background-color var(--transition-duration-and-func);
}

.check-policy {
color: #4D5AE5;    
}

/*============ /Modal form======== */
/*========== Portfolio======*/
.cards {
padding-top: 96px;
padding-bottom: 120px;
}

.filters {
display: flex;
gap: 24px;
margin-bottom: 72px;
justify-content: center;
}
.gallery-list {
display: flex;
flex-wrap: wrap;
gap: 48px 24px;
}
.gallery {
flex-basis: calc((100% - 144px) / 9);
transition:box-shadow var(--transition-duration-and-func);
}
.gallery:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.gallery-content {
padding-left: 16px; 
padding-right: auto;   
padding-top: 32px;
padding-bottom: 32px;
border: 1px solid #E7E9FC;
}
.filters-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--color-iris);
background-color: var(--color-cloud);
border: 1px solid #E7E9FC;
border-radius: 4px;
padding: 12px 24px;
transition: color var(--transition-duration-and-func),
background-color var(--transition-duration-and-func),
box-shadow var(--transition-duration-and-func);
}
 .filters-button:hover, .filters-button:focus {
color: var(--color-white);
background-color: var(--color-ocean);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.gallery-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-color-navy-blue);
margin-bottom: 8px;
}
.text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color-slate);
}
.gallery-card-img-wrapper {
position: relative;
overflow: hidden;
}
.overlay {
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
overflow-y:scroll;
transform: translate(0, 100%);
transition:transform var(--transition-duration-and-func);

font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
padding:40px 32px;
color: #F4F4FD;
background-color: #4D5AE5;;
}
.gallery-card-img-wrapper:hover .overlay,
.gallery-card-img-wrapper:focus .overlay {
transform: translate(0,0);
}
/*========== Portfolio======*/